/* nav bar */

.navbar {
    list-style-type: none; /* 移除列表样式 */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87ccf7; /* 导航栏背景色 */
  }
  
  .navbar li {
    float: left;
    font-size: larger;
    font-weight: bolder
  }
  
  .navbar li a {
    display: block;
    color: white; /* 导航链接颜色 */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: rgba(250, 202, 247,80%); /* 鼠标悬停时链接的背景色 */
  }
  